lxml==4.3.4
pandas==0.24.2
requests==2.22.0
spacy==2.1.4
scikit-learn==0.21.2
dill==0.2.9
joblib==0.13.2 
tensorflow==2.3.1 # downgraded CPU Version of TensorFlow
tensorflow-gpu  >= 1.11.0  # GPU version of TensorFlow
tensorflow_hub
numpy
scipy
gensim==3.7.3
matplotlib
tqdm
seaborn
gc
os
math

############## spaCy language models ################

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz